@font-face {
    font-family: 'adamgorry-lights';
    src: url('fonts/adam_gorry_lights-webfont.ttf') format('ttf'),
         url('fonts/adam_gorry_lights-webfont.woff2') format('woff2'),
         url('fonts/adam_gorry_lights-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'sweet-dreams';
	src: url('fonts/Sweet Dreamdemo.eot');
	src: local('☺'), url('fonts/Sweet Dreamdemo.ttf') format('truetype'), url('fonts/Sweet Dreamdemo.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



.fa:hover, .fab:hover{
    opacity: 0.9;
    color:#ff3c7a;
    text-decoration: none;
}

.fa-facebook {
    text-decoration: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    background:#f38aad;
    color:white;
}

.fa-instagram {
    text-decoration: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    background:#f38aad;
    color:white;
}

.fa-viber {
    text-decoration: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    background:#f38aad;
    color:white;
}