body{
    margin:0;
    background: #ffdee9;
    font-family: 'Varela Round', sans-serif;
}

.form-inline {
    display: inline-block;
}
.navbar-header.col {
    padding: 0 !important;
}	
.header{
    margin-top: 80px;
    background-color: pink; 
    width: 100%;
    padding-bottom: 20px;
}
.header img{
    margin-top: 20px;
    max-width: 100%;
    width: 250px;
}
.navbar {
    background-color:#fff;		
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}
.navbar .navbar-brand span{
    color: #ff6f9d;
    padding-left: 0;
    font-size: 36px;
    font-family: 'adamgorry-lights';
}
.navbar .navbar-brand b {
    font-weight: lighter;
    font-family: 'sweet-dreams';
    color: #ff6f9d;
    margin-left: 10px;
    font-size: 28px;
}
.navbar .navbar-brand a:hover{
    color: #ff3c7a;
}
.navbar ul.nav li a:hover, .navbar ul.nav li a:focus {
    color: #f08373 !important;
}
.navbar ul.nav li.active a, .navbar ul.nav li.active a:hover, .navbar ul.nav li.active a:focus {
    color: #eb5844 !important;
    background: transparent !important;
}

/* Carousel */
.carousel{
    background: #fedee3;
    position: relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.carousel .item {
    text-align: center;
	overflow: hidden;
}
.carousel .item img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0 auto; /* Align slide image horizontally center in Bootstrap v3 */
}

.carousel .carousel-control {
	width: 50px;
    height: 50px;
    background: #000;
    margin: auto 0;
	opacity: 0.8;
}
.carousel .carousel-control:hover {
	opacity: 0.9;
}
.carousel .carousel-control i {
    font-size: 41px;
}

.fix-img{
    max-height: 100%;
    height: 250px;
}
.brand span{
    color: #ff6f9d;
    padding-left: 0;
    font-size: 36px;
    font-family: 'adamgorry-lights';
}
.brand b {
    font-weight: lighter;
    font-family: 'sweet-dreams';
    color: #ff6f9d;
    margin-left: 10px;
    font-size: 28px;
}
.brand img{
    display: block;
    max-width: 100%;
    width: 250px;
    
}

